body{
    width: 100%;
    height: 100%;
    position: absolute;
}

.modify{
    border: 1px solid green;
    width: 100px;
    height: 25px;
    background-color: grey;
    color: black;
    text-align: center;
    top: 50%;
    float: left;
}
.nodeItems{
    border: 1px solid black;
    background-color: grey;
    width: auto;
    position: absolute;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4.5px;
}
svg{
    border: 1px solid red;
    overflow: auto;
}
.treeContainer{
    max-width: 600px;
    max-height: 400px;
    overflow: auto;
}